[submodule ".cargo"]
	path = .cargo
	url = https://github.com/lemonrock/.cargo.git
[submodule "workspace/rdma-core-sys/lib/rdma-core"]
	path = workspace/rdma-core-sys/lib/rdma-core
	url = https://github.com/linux-rdma/rdma-core.git
[submodule "workspace/rdma-core-sys/tools/bindgen-wrapper"]
	path = workspace/rdma-core-sys/tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
[submodule "workspace/openshmem-reference-sys/lib/openshmem"]
	path = workspace/openshmem-reference-sys/lib/openshmem
	url = https://github.com/openshmem-org/openshmem.git
[submodule "workspace/openshmem-reference-sys/tools/bindgen-wrapper"]
	path = workspace/openshmem-reference-sys/tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
[submodule "workspace/gaspi-reference-sys/lib/GASPI-Standard"]
	path = workspace/gaspi-reference-sys/lib/GASPI-Standard
	url = https://github.com/GASPI-Forum/GASPI-Standard.git
[submodule "workspace/gaspi-reference-sys/tools/bindgen-wrapper"]
	path = workspace/gaspi-reference-sys/tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
[submodule "workspace/mxm-reference-sys/tools/bindgen-wrapper"]
	path = workspace/mxm-reference-sys/tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
[submodule "workspace/ucx-sys/tools/bindgen-wrapper"]
	path = workspace/ucx-sys/tools/bindgen-wrapper
	url = https://github.com/lemonrock/bindgen-wrapper.git
[submodule "workspace/ucx-sys/lib/ucx"]
	path = workspace/ucx-sys/lib/ucx
	url = https://github.com/openucx/ucx.git
[submodule "workspace/ucx-sys/lib/numactl"]
	path = workspace/ucx-sys/lib/numactl
	url = https://github.com/numactl/numactl.git
